@* Recruitment Portal Header Component *@
<header class="app-header bg-transparent py-2 ps-2 g-0">
    <div class="row align-items-center justify-content-center">
        <div class="col-auto d-flex align-items-center mb-2 mb-sm-0 pe-2">
            <img src="~/img/logo1.png" alt="Mendine Logo" class="img-fluid" style="max-height: 38px;" onerror="this.style.display='none'">
        </div>
        <div class="col d-flex align-items-center justify-content-start">
            <h2 class="mb-0 fw-semibold portal-heading">RECRUITMENT PORTAL</h2>
        </div>
    </div>
</header>
